<div class="p-col p-d-flex p-ai-center p-jc-center">
    <div style="padding: 10px">Example table with flex scrollHeight
      (https://www.primefaces.org/primeng/showcase/#/table/scroll)</div>
    <p-table [value]="customers" [scrollable]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Country</th>
          <th>Company</th>
          <th>Representative</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>{{customer.name}}</td>
          <td>{{customer.country}}</td>
          <td>{{customer.company}}</td>
          <td>{{customer.representative}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
